Project 1

Jacob Garrison

The pivot table that gives the best insight into the size of tip would be the last one used, which has the size of the party and the total bill plus the tip. Clearly, the bigger the size, the bigger the total bill, and the bigger the tip.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [31]:
tips = pd.read_csv("http://www.cs.uoregon.edu/classes/18F/cis199ids/data/tips.csv")
cali = pd.read_csv("http://www.cs.uoregon.edu/classes/18F/cis199ids/data/california_cities.csv")

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.sample()

    total_bill   tip     sex smoker  day    time  size
22       15.77  2.23  Female     No  Sat  Dinner     2

In [6]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [7]:
tips.head(20)

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
12       15.42  1.57    Male     No  Sun  Dinner     2
13       18.43  3.00    Male     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
15       21.58  3.92    Male     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3
17       16.29  3.71    Male     No  Sun  Dinner     3
18       16.97  3.50  Female     No  Sun  Dinner     3
19       20.65  3.35    Male     No  Sat  Dinner     3

In [8]:
tips.tail(20)

     total_bill   tip     sex smoker   day    time  size
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [9]:
tips.sample(20)

     total_bill   tip     sex smoker   day    time  size
35        24.06  3.60    Male     No   Sat  Dinner     3
27        12.69  2.00    Male     No   Sat  Dinner     2
162       16.21  2.00  Female     No   Sun  Dinner     3
31        18.35  2.50    Male     No   Sat  Dinner     4
203       16.40  2.50  Female    Yes  Thur   Lunch     2
57        26.41  1.50  Female     No   Sat  Dinner     2
50        12.54  2.50    Male     No   Sun  Dinner     2
144       16.43  2.30  Female     No  Thur   Lunch     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
131       20.27  2.83  Female     No  Thur   Lunch     2
14        14.83  3.02  Female     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
75        10.51  1.25    Male     No   Sat  Dinner     2
186       20.90  3.50  Female    Yes   Sun  Dinner     3
137       14.15  2.00  Female     No  Thur   Lunch     2
185       20.69  5.00    Male     No   Sun  Dinner     5
52        34.81  5.20  Female     No   Sun  Dinner     4
154       19.77  2.00    Male     No   Sun  Dinner     4
145        8.35  1.50  Female     No  Thur   Lunch     2

In [11]:
tips.sample(20, random_state=4) #by putting "random_state", I can re-use this exact data, as seen below

     total_bill   tip     sex smoker   day    time  size
11        35.26  5.00  Female     No   Sun  Dinner     4
100       11.35  2.50  Female    Yes   Fri  Dinner     2
47        32.40  6.00    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
179       34.63  3.55    Male    Yes   Sun  Dinner     2
33        20.69  2.45  Female     No   Sat  Dinner     4
45        18.29  3.00    Male     No   Sun  Dinner     2
68        20.23  2.01    Male     No   Sat  Dinner     2
70        12.02  1.97    Male     No   Sat  Dinner     2
48        28.55  2.05    Male     No   Sun  Dinner     3
169       10.63  2.00  Female    Yes   Sat  Dinner     2
71        17.07  3.00  Female     No   Sat  Dinner     3
133       12.26  2.00  Female     No  Thur   Lunch     2
84        15.98  2.03    Male     No  Thur   Lunch     2
140       17.47  3.50  Female     No  Thur   Lunch     2
150       14.07  2.50    Male     No   Sun  Dinner     2
39        31.27  5.00    Male     No   Sat  Dinner     3
233       10.77  1.47    Male     No   Sat  Dinner     2
81        16.66  3.40    Male     No  Thur   Lunch     2
43         9.68  1.32    Male     No   Sun  Dinner     2

In [12]:
tips.sample(20, random_state=4)

     total_bill   tip     sex smoker   day    time  size
11        35.26  5.00  Female     No   Sun  Dinner     4
100       11.35  2.50  Female    Yes   Fri  Dinner     2
47        32.40  6.00    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
179       34.63  3.55    Male    Yes   Sun  Dinner     2
33        20.69  2.45  Female     No   Sat  Dinner     4
45        18.29  3.00    Male     No   Sun  Dinner     2
68        20.23  2.01    Male     No   Sat  Dinner     2
70        12.02  1.97    Male     No   Sat  Dinner     2
48        28.55  2.05    Male     No   Sun  Dinner     3
169       10.63  2.00  Female    Yes   Sat  Dinner     2
71        17.07  3.00  Female     No   Sat  Dinner     3
133       12.26  2.00  Female     No  Thur   Lunch     2
84        15.98  2.03    Male     No  Thur   Lunch     2
140       17.47  3.50  Female     No  Thur   Lunch     2
150       14.07  2.50    Male     No   Sun  Dinner     2
39        31.27  5.00    Male     No   Sat  Dinner     3
233       10.77  1.47    Male     No   Sat  Dinner     2
81        16.66  3.40    Male     No  Thur   Lunch     2
43         9.68  1.32    Male     No   Sun  Dinner     2

In [15]:
pd.pivot_table(tips, index=['day'])

          size       tip  total_bill
day
Fri   2.105263  2.734737   17.151579
Sat   2.517241  2.993103   20.441379
Sun   2.842105  3.255132   21.410000
Thur  2.451613  2.771452   17.682742

In [16]:
pd.pivot_table(tips, index=['day', 'size'])

                tip  total_bill
day  size
Fri  1     1.920000    8.580000
     2     2.644375   16.321875
     3     3.000000   15.980000
     4     4.730000   40.170000
Sat  1     1.000000    5.160000
     2     2.517547   16.837170
     3     3.797778   25.509444
     4     4.123846   29.876154
     5     3.000000   28.150000
Sun  2     2.816923   17.560000
     3     3.120667   22.184000
     4     4.087778   26.688333
     5     4.046667   27.000000
     6     5.000000   48.170000
Thur 1     1.830000   10.070000
     2     2.442500   15.156875
     3     2.692500   19.160000
     4     4.218000   29.950000
     5     5.000000   41.190000
     6     5.300000   30.383333

In [17]:
pd.pivot_table(tips, index=['day', 'size', 'sex'])

                       tip  total_bill
day  size sex
Fri  1    Male    1.920000    8.580000
     2    Female  2.753750   13.916250
          Male    2.535000   18.727500
     3    Female  3.000000   15.980000
     4    Male    4.730000   40.170000
Sat  1    Female  1.000000    5.160000
     2    Female  2.693158   18.294737
          Male    2.419412   16.022647
     3    Female  3.948000   28.460000
          Male    3.740000   24.374615
     4    Female  2.770000   25.415000
          Male    4.370000   30.687273
     5    Male    3.000000   28.150000
Sun  2    Female  2.820000   14.274286
          Male    2.816250   18.278750
     3    Female  3.028333   18.045000
          Male    3.182222   24.943333
     4    Female  4.390000   29.915000
          Male    4.001429   25.766429
     5    Female  5.140000   29.850000
          Male    3.500000   25.575000
     6    Male    5.000000   48.170000
Thur 1    Female  1.830000   10.070000
     2    Female  2.237917   13.785000
          Male    2.647083   16.528750
     3    Female  2.295000   17.555000
          Male    3.090000   20.765000
     4    Female  4.363333   34.006667
          Male    4.000000   23.865000
     5    Male    5.000000   41.190000
     6    Female  4.600000   28.425000
          Male    6.700000   34.300000

In [19]:
pd.pivot_table(tips, index=['day', 'size', 'sex'], values=['tip', 'total_bill'])

                       tip  total_bill
day  size sex
Fri  1    Male    1.920000    8.580000
     2    Female  2.753750   13.916250
          Male    2.535000   18.727500
     3    Female  3.000000   15.980000
     4    Male    4.730000   40.170000
Sat  1    Female  1.000000    5.160000
     2    Female  2.693158   18.294737
          Male    2.419412   16.022647
     3    Female  3.948000   28.460000
          Male    3.740000   24.374615
     4    Female  2.770000   25.415000
          Male    4.370000   30.687273
     5    Male    3.000000   28.150000
Sun  2    Female  2.820000   14.274286
          Male    2.816250   18.278750
     3    Female  3.028333   18.045000
          Male    3.182222   24.943333
     4    Female  4.390000   29.915000
          Male    4.001429   25.766429
     5    Female  5.140000   29.850000
          Male    3.500000   25.575000
     6    Male    5.000000   48.170000
Thur 1    Female  1.830000   10.070000
     2    Female  2.237917   13.785000
          Male    2.647083   16.528750
     3    Female  2.295000   17.555000
          Male    3.090000   20.765000
     4    Female  4.363333   34.006667
          Male    4.000000   23.865000
     5    Male    5.000000   41.190000
     6    Female  4.600000   28.425000
          Male    6.700000   34.300000

In [20]:
pd.pivot_table(tips, index=['day', 'size', 'sex'], values=['tip', 'total_bill'], aggfunc=[np.median, np.sum])

                 median               sum
                    tip total_bill    tip total_bill
day  size sex
Fri  1    Male    1.920      8.580   1.92       8.58
     2    Female  2.750     14.400  22.03     111.33
          Male    2.600     17.215  20.28     149.82
     3    Female  3.000     15.980   3.00      15.98
     4    Male    4.730     40.170   4.73      40.17
Sat  1    Female  1.000      5.160   2.00      10.32
     2    Female  2.500     16.450  51.17     347.60
          Male    2.005     15.185  82.26     544.77
     3    Female  3.070     28.170  19.74     142.30
          Male    3.150     20.650  48.62     316.87
     4    Female  2.770     25.415   5.54      50.83
          Male    3.000     25.890  48.07     337.56
     5    Male    3.000     28.150   3.00      28.15
Sun  2    Female  3.000     14.830  19.74      99.92
          Male    2.545     16.255  90.12     584.92
     3    Female  3.500     17.560  18.17     108.27
          Male    3.500     23.100  28.64     224.49
     4    Female  4.375     29.905  17.56     119.66
          Male    4.010     25.425  56.02     360.73
     5    Female  5.140     29.850   5.14      29.85
          Male    3.500     25.575   7.00      51.15
     6    Male    5.000     48.170   5.00      48.17
Thur 1    Female  1.830     10.070   1.83      10.07
     2    Female  2.000     13.000  53.71     330.84
          Male    2.170     15.990  63.53     396.69
     3    Female  2.295     17.555   4.59      35.11
          Male    3.090     20.765   6.18      41.53
     4    Female  5.000     34.830  13.09     102.02
          Male    4.000     23.865   8.00      47.73
     5    Male    5.000     41.190   5.00      41.19
     6    Female  4.600     28.425   9.20      56.85
          Male    6.700     34.300   6.70      34.30

In [25]:
pd.pivot_table(tips, index=['day'], values=['tip', 'total_bill'], aggfunc=[np.median, np.sum])

     median                sum
        tip total_bill     tip total_bill
day
Fri   3.000      15.38   51.96     325.88
Sat   2.750      18.24  260.40    1778.40
Sun   3.150      19.63  247.39    1627.16
Thur  2.305      16.20  171.83    1096.33

In [26]:
pd.pivot_table(tips, index=['smoker'], values=['tip', 'total_bill'], aggfunc=[np.median, np.sum])

       median                sum
          tip total_bill     tip total_bill
smoker
No       2.74      17.59  451.77    2897.43
Yes      3.00      17.92  279.81    1930.34

In [27]:
pd.pivot_table(tips, index=['sex'], values=['tip', 'total_bill'], aggfunc=[np.median, np.sum])

       median                sum
          tip total_bill     tip total_bill
sex
Female   2.75      16.40  246.51    1570.95
Male     3.00      18.35  485.07    3256.82

In [28]:
pd.pivot_table(tips, index=['size'], values=['tip', 'total_bill'], aggfunc=[np.median, np.sum])

     median                sum
        tip total_bill     tip total_bill
size
1     1.415      7.915    5.75      28.97
2     2.500     15.370  402.84    2565.89
3     3.290     20.365  128.94     884.55
4     3.760     25.890  153.01    1058.70
5     5.000     29.850   20.14     150.34
6     5.000     32.050   20.90     139.32

In [30]:
pd.pivot_table(tips, index=['size'], values=['tip', 'total_bill'], aggfunc=[np.average])
#This is the most useful table for a waiter who wants more in tips because it shows the average tip amount compared to the
#total bill per party size

       average
           tip total_bill
size
1     1.437500   7.242500
2     2.582308  16.448013
3     3.393158  23.277632
4     4.135405  28.613514
5     4.028000  30.068000
6     5.225000  34.830000

Bonus

In [32]:
cali.head()

,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01

In [33]:
cali.tail()

,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
477,Yountville,38.403056,-122.362222,30.0,98.0,2933,1.531,1.531,0.000,3.966,3.966,0.000,0.00
478,Yreka,41.726667,-122.637500,787.0,2582.0,7765,10.053,9.980,0.073,26.036,25.847,0.188,0.72
479,YubaCity,39.134722,-121.626111,18.0,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.201,0.53
480,Yucaipa,34.030278,-117.048611,798.0,2618.0,51367,27.893,27.888,0.005,72.244,72.231,0.013,0.02
481,YuccaValley,34.133333,-116.416667,1027.0,3369.0,20700,40.015,40.015,NaN,NaN,NaN,NaN,NaN

In [34]:
cali.sample(20, random_state=1)

,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
31,Bell,33.983333,-118.183333,43.0,141.0,35477,2.620,2.501,0.119,6.783,6.476,0.307,4.530
246,MammothLakes,37.648611,-118.971944,2402.0,7880.0,8234,25.306,24.866,0.440,65.541,64.402,1.139,1.740
185,Huron,36.202778,-120.103056,114.0,374.0,6754,1.591,1.591,0.000,4.121,4.121,0.000,0.000
110,DesertHotSprings,33.961111,-116.508056,328.0,1076.0,25938,23.642,23.615,0.027,61.233,61.164,0.069,0.110
90,Corcoran,36.098056,-119.560278,63.0,207.0,25515,7.467,7.467,0.000,19.338,19.338,0.000,0.000
168,Hanford,36.327500,-119.645556,76.0,249.0,55283,16.589,16.589,0.000,42.966,42.966,0.000,0.000
256,Menifee,33.678333,-117.166944,434.0,1424.0,77519,46.607,46.466,0.141,120.711,120.345,0.365,0.300
117,Duarte,34.140278,-117.961667,156.0,512.0,21321,6.690,6.690,0.000,17.328,17.328,0.000,0.000
286,Norco,33.931111,-117.548611,195.0,640.0,27063,14.278,13.962,0.316,36.980,36.161,0.819,2.220
470,Willows,39.524444,-122.193611,42.0,138.0,6166,2.873,2.847,0.026,7.441,7.373,0.068,0.920
389,SantaClarita,34.416667,-118.506389,368.0,1207.0,209130,62.160,62.100,0.060,160.993,160.825,0.168,0.099
34,Belmont,37.518056,-122.291667,13.0,43.0,25835,4.630,4.621,0.009,11.992,11.970,0.022,0.190
66,Carson,33.839722,-118.259722,8.2,27.0,91714,18.968,18.724,0.244,49.127,48.495,0.631,1.290
62,Capitola,36.976389,-121.954722,4.0,13.0,9918,1.676,1.593,0.083,4.340,4.126,0.214,4.920
363,SanBruno,37.625278,-122.425278,5.0,16.0,41114,5.478,5.478,0.000,14.188,14.188,0.000,0.000
294,Ontario,34.052778,-117.627778,282.0,925.0,163924,50.006,49.941,0.065,129.515,129.345,0.170,0.130
293,Ojai,34.449167,-119.246667,227.0,745.0,7461,4.401,4.386,0.015,11.398,11.359,0.040,0.350
469,Willits,39.409722,-123.355556,424.0,1391.0,4888,2.803,2.798,0.005,7.260,7.248,0.013,0.170
284,Newman,37.315000,-121.022500,27.0,89.0,10224,2.102,2.102,0.000,5.444,5.444,0.000,0.000
224,Lemoore,36.300833,-119.782778,70.0,230.0,25281,8.517,8.517,0.000,22.058,22.058,0.000,0.000

In [35]:
cali.sample(20, random_state=1)

,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
31,Bell,33.983333,-118.183333,43.0,141.0,35477,2.620,2.501,0.119,6.783,6.476,0.307,4.530
246,MammothLakes,37.648611,-118.971944,2402.0,7880.0,8234,25.306,24.866,0.440,65.541,64.402,1.139,1.740
185,Huron,36.202778,-120.103056,114.0,374.0,6754,1.591,1.591,0.000,4.121,4.121,0.000,0.000
110,DesertHotSprings,33.961111,-116.508056,328.0,1076.0,25938,23.642,23.615,0.027,61.233,61.164,0.069,0.110
90,Corcoran,36.098056,-119.560278,63.0,207.0,25515,7.467,7.467,0.000,19.338,19.338,0.000,0.000
168,Hanford,36.327500,-119.645556,76.0,249.0,55283,16.589,16.589,0.000,42.966,42.966,0.000,0.000
256,Menifee,33.678333,-117.166944,434.0,1424.0,77519,46.607,46.466,0.141,120.711,120.345,0.365,0.300
117,Duarte,34.140278,-117.961667,156.0,512.0,21321,6.690,6.690,0.000,17.328,17.328,0.000,0.000
286,Norco,33.931111,-117.548611,195.0,640.0,27063,14.278,13.962,0.316,36.980,36.161,0.819,2.220
470,Willows,39.524444,-122.193611,42.0,138.0,6166,2.873,2.847,0.026,7.441,7.373,0.068,0.920
389,SantaClarita,34.416667,-118.506389,368.0,1207.0,209130,62.160,62.100,0.060,160.993,160.825,0.168,0.099
34,Belmont,37.518056,-122.291667,13.0,43.0,25835,4.630,4.621,0.009,11.992,11.970,0.022,0.190
66,Carson,33.839722,-118.259722,8.2,27.0,91714,18.968,18.724,0.244,49.127,48.495,0.631,1.290
62,Capitola,36.976389,-121.954722,4.0,13.0,9918,1.676,1.593,0.083,4.340,4.126,0.214,4.920
363,SanBruno,37.625278,-122.425278,5.0,16.0,41114,5.478,5.478,0.000,14.188,14.188,0.000,0.000
294,Ontario,34.052778,-117.627778,282.0,925.0,163924,50.006,49.941,0.065,129.515,129.345,0.170,0.130
293,Ojai,34.449167,-119.246667,227.0,745.0,7461,4.401,4.386,0.015,11.398,11.359,0.040,0.350
469,Willits,39.409722,-123.355556,424.0,1391.0,4888,2.803,2.798,0.005,7.260,7.248,0.013,0.170
284,Newman,37.315000,-121.022500,27.0,89.0,10224,2.102,2.102,0.000,5.444,5.444,0.000,0.000
224,Lemoore,36.300833,-119.782778,70.0,230.0,25281,8.517,8.517,0.000,22.058,22.058,0.000,0.000

In [36]:
pd.pivot_table(cali, index=['city', 'population_total'])

,,area_land_km2,area_land_sq_mi,area_total_km2,area_total_sq_mi,area_water_km2,area_water_percent,area_water_sq_mi,elevation_ft,elevation_m,latd,longd
city,population_total,,,,,,,,,,,
Adelanto,31765,145.062,56.009,145.107,56.027,0.046,0.03,0.018,2871.0,875.0,34.576111,-117.432778
AgouraHills,20330,20.184,7.793,20.260,7.822,0.076,0.37,0.029,922.0,281.0,34.153333,-118.761667
Alameda,75467,27.482,10.611,59.465,22.960,31.983,53.79,12.349,33.0,NaN,37.756111,-122.274444
Albany,18969,4.632,1.788,14.155,5.465,9.524,67.28,3.677,43.0,NaN,37.886944,-122.297778
Alhambra,83089,19.763,7.631,19.766,7.632,0.003,0.01,0.001,492.0,150.0,34.081944,-118.135000
AlisoViejo,47823,19.352,7.472,19.352,7.472,0.000,0.00,0.000,417.0,127.0,33.575000,-117.725556
Alturas,2827,6.306,2.435,6.342,2.449,0.036,0.57,0.014,4370.0,1332.0,41.487222,-120.542500
AmadorCity,185,0.813,0.314,0.813,0.314,0.000,0.00,0.000,919.0,280.0,38.419444,-120.824167
AmericanCanyon,19454,12.527,4.837,12.548,4.845,0.021,0.17,0.008,46.0,14.0,38.168056,-122.252500
Anaheim,336000,129.073,49.835,131.600,50.811,2.527,1.92,0.976,157.0,48.0,33.836111,-117.889722
Anderson,9932,16.504,6.372,17.145,6.620,0.642,3.74,0.248,430.0,132.0,40.452222,-122.296667
AngelsCamp,3836,9.397,3.628,9.421,3.637,0.024,0.25,0.009,1378.0,420.0,38.068333,-120.539722
Antioch,107100,73.422,28.349,75.324,29.083,1.902,2.52,0.734,43.0,13.0,38.005000,-121.805833
AppleValley,69135,189.570,73.193,190.426,73.523,0.856,0.45,0.330,2946.0,898.0,34.516667,-117.216667
Arcadia,56364,28.296,10.925,28.836,11.133,0.540,1.87,0.208,482.0,147.0,34.132778,-118.036389
Arcata,17231,23.561,9.097,28.473,10.994,4.912,17.25,1.897,23.0,NaN,40.866389,-124.082778
ArroyoGrande,17716,15.113,5.835,15.113,5.835,0.000,0.00,0.000,118.0,36.0,35.120833,-120.586667
Artesia,16522,4.197,1.621,4.197,1.621,0.000,0.00,0.000,52.0,16.0,33.867222,-118.080556
Arvin,19304,12.482,4.819,12.482,4.819,0.000,0.00,0.000,449.0,137.0,35.209167,-118.828333
Atascadero,28310,66.409,25.641,67.675,26.130,1.265,1.87,0.489,879.0,268.0,35.484167,-120.672500
Atherton,6914,12.993,5.017,13.076,5.049,0.082,0.63,0.032,59.0,18.0,37.458611,-122.200000
Atwater,28168,15.766,6.087,15.788,6.096,0.022,0.14,0.009,151.0,46.0,37.347778,-120.609167
Auburn,13330,18.488,7.138,18.560,7.166,0.071,0.38,0.028,1227.0,374.0,38.898611,-121.074444
Avalon,3728,7.602,2.935,7.607,2.937,0.005,0.07,0.002,30.0,9.0,33.340833,-118.327778
Avenal,13239,50.302,19.422,50.302,19.422,0.000,0.00,0.000,807.0,246.0,36.004167,-120.128889
Azusa,46361,25.010,9.656,25.042,9.669,0.032,0.13,0.013,610.0,186.0,34.130556,-117.906944
Bakersfield,347483,368.204,142.164,371.946,143.609,3.742,1.01,1.445,404.0,NaN,35.366667,-119.016667
BaldwinPark,75390,17.174,6.631,17.575,6.786,0.400,2.28,0.155,374.0,114.0,34.082778,-117.971667
Banning,29603,59.826,23.099,59.826,23.099,0.000,0.00,0.000,2349.0,716.0,33.931667,-116.897500
Barstow,22639,107.186,41.385,107.209,41.394,0.023,0.02,0.009,2178.0,664.0,34.900000,-117.016667
...,...,...,...,...,...,...,...,...,...,...,...,...
Vista,93834,48.377,18.678,48.377,18.678,0.000,0.00,0.000,325.0,99.0,33.193611,-117.241111
Walnut,29172,23.290,8.992,23.300,8.996,0.010,0.04,0.004,561.0,171.0,34.033333,-117.866667
WalnutCreek,64173,51.169,19.757,51.201,19.769,0.031,0.06,0.012,131.0,NaN,37.906389,-122.065000
Wasco,25545,24.413,9.426,24.413,9.426,0.000,0.00,0.000,328.0,100.0,35.594167,-119.340833
Waterford,8456,6.030,2.328,6.135,2.369,0.105,1.72,0.041,171.0,52.0,37.645000,-120.767500
Watsonville,51199,17.319,6.687,17.569,6.783,0.250,1.42,0.096,29.0,9.0,36.920000,-121.763611
Weed,2967,12.405,4.790,12.417,4.795,0.012,0.10,0.005,3425.0,1044.0,41.424167,-122.384444
WestCovina,106098,41.545,16.041,41.671,16.090,0.126,0.30,0.049,362.0,110.0,34.056667,-117.918611
WestHollywood,34650,4.888,1.887,4.888,1.887,0.000,0.00,0.000,282.0,86.0,34.087778,-118.372222
WestSacramento,48744,55.491,21.425,59.172,22.846,3.681,6.22,1.421,20.0,6.0,38.580556,-121.530278
WestlakeVillage,8270,13.430,5.185,14.257,5.509,0.828,5.80,0.320,880.0,268.0,34.141944,-118.819444
Westminster,89701,26.027,10.049,26.027,10.049,0.000,0.00,0.000,39.0,12.0,33.751389,-117.993889
Westmorland,2225,1.529,0.590,1.529,0.590,0.000,0.00,0.000,-164.0,NaN,33.037222,-115.621389
Wheatland,3456,3.831,1.479,3.848,1.486,0.017,0.45,0.007,92.0,28.0,39.010000,-121.423056
Whittier,85331,37.000,14.700,37.000,14.700,0.041,0.11,0.016,367.0,112.0,33.965556,-118.024444
Wildomar,32176,61.351,23.688,61.351,23.688,0.000,0.00,0.000,1270.0,387.0,33.603611,-117.272778
Williams,5123,14.101,5.444,14.101,5.444,0.000,0.00,0.000,82.0,25.0,39.154722,-122.149444
Willits,4888,7.248,2.798,7.260,2.803,0.013,0.17,0.005,1391.0,424.0,39.409722,-123.355556
Willows,6166,7.373,2.847,7.441,2.873,0.068,0.92,0.026,138.0,42.0,39.524444,-122.193611
Windsor,26801,18.824,7.268,18.888,7.293,0.064,0.34,0.025,118.0,36.0,38.546111,-122.805278
Winters,6624,7.543,2.912,7.607,2.937,0.065,0.85,0.025,131.0,40.0,38.525000,-121.970833
Woodlake,7279,5.821,2.248,7.159,2.765,1.338,18.69,0.517,440.0,134.0,36.416389,-119.099444
Woodland,55468,39.634,15.303,39.634,15.303,0.000,0.00,0.000,69.0,21.0,38.678611,-121.773333
Woodside,5287,30.386,11.732,30.386,11.732,0.000,0.00,0.000,384.0,117.0,37.420833,-122.259722
YorbaLinda,65237,50.460,19.483,51.847,20.018,1.387,2.67,0.535,270.0,82.3,33.888551,-117.813231
Yountville,2933,3.966,1.531,3.966,1.531,0.000,0.00,0.000,98.0,30.0,38.403056,-122.362222
Yreka,7765,25.847,9.980,26.036,10.053,0.188,0.72,0.073,2582.0,787.0,41.726667,-122.637500
YubaCity,64925,37.758,14.578,37.959,14.656,0.201,0.53,0.078,59.0,18.0,39.134722,-121.626111
Yucaipa,51367,72.231,27.888,72.244,27.893,0.013,0.02,0.005,2618.0,798.0,34.030278,-117.048611
YuccaValley,20700,NaN,40.015,NaN,40.015,NaN,NaN,NaN,3369.0,1027.0,34.133333,-116.416667

In [38]:
pd.pivot_table(cali, index=['population_total', 'city'], aggfunc=[np.median, np.sum])

                                        median                                 \
                                 area_land_km2 area_land_sq_mi area_total_km2
population_total city
1                Pomona                 59.444          22.952         59.474
112              Vernon                 12.880           4.973         13.357
185              AmadorCity              0.813           0.314          0.813
219              Industry               30.522          11.785         31.245
334              SandCity                1.457           0.562          7.575
367              Trinidad                1.255           0.485          1.737
418              Tehama                  2.057           0.794          2.057
449              PointArena              3.496           1.350          3.496
737              Etna                    1.962           0.758          1.965
769              Loyalton                0.921           0.355          0.921
804              Isleton                 1.139           0.440          1.272
839              FortJones               1.560           0.602          1.560
939              Dorris                  1.819           0.702          1.860
1005             Plymouth                2.411           0.931          2.444
1010             Tulelake                1.061           0.410          1.067
1048             Bradbury                5.070           1.957          5.073
1154             Maricopa                3.890           1.502          3.890
1253             BlueLake                1.533           0.592          1.610
1371             Ferndale                2.659           1.027          2.659
1422             Irwindale              22.859           8.826         24.897
1443             Montague                4.605           1.778          4.644
1624             DelReyOaks              1.246           0.481          1.251
1650             Dunsmuir                4.398           1.698          4.494
1707             Biggs                   1.646           0.636          1.646
1792             Colma                   4.945           1.909          4.945
1856             HiddenHills             4.373           1.689          4.373
1860             RollingHills            7.746           2.991          7.746
1862             SanJuanBautista         1.842           0.711          1.843
1963             Colfax                  3.645           1.407          3.645
2068             Belvedere               1.345           0.519          6.234
...                                        ...             ...            ...
163665           Salinas                60.033          23.179         60.131
163924           Ontario               129.345          49.941        129.515
170685           SantaRosa             106.950          41.294        107.481
170746           RanchoCucamonga       103.212          39.851        103.263
170883           GardenGrove            46.467          17.941         46.513
183095           Oceanside             106.798          41.235        109.231
193365           MorenoValley          132.800          51.275        133.319
196021           Glendale               78.874          30.453         79.212
197575           HuntingtonBeach        69.278          26.748         82.576
201165           Modesto                95.486          36.867         96.069
201812           Fontana               109.899          42.432        109.899
203585           Oxnard                 69.656          26.894        101.548
209130           SantaClarita          160.825          62.100        160.993
209924           SanBernardino         153.330          59.201        154.480
215529           Irvine                171.214          66.106        172.115
220000           Fremont               200.618          77.459        226.910
243916           ChulaVista            128.545          49.631        134.925
301090           Stockton              159.723          61.670        167.708
313673           Riverside             210.152          81.140        210.941
324528           SantaAna               70.628          27.270         71.271
336000           Anaheim               129.073          49.835        131.600
347483           Bakersfield           368.204         142.164        371.946
406253           Oakland               144.485          55.786        202.024
462257           LongBeach             130.259          50.293        133.223
466488           Sacramento            253.600          97.915        259.273
509039           Fresno                289.967         111.957        290.877
837442           SanFrancisco              NaN          46.870            NaN
1000536          SanJose               457.201         176.526        466.109
1345895          SanDiego              842.230         325.190        964.510
3884307          LosAngeles           1214.000         469.000       1302.000

                                                                  \
                                 area_total_sq_mi area_water_km2
population_total city
1                Pomona                    22.964          0.030
112              Vernon                     5.157          0.476
185              AmadorCity                 0.314          0.000
219              Industry                  12.064          0.723
334              SandCity                   2.924          6.119
367              Trinidad                   0.671          0.482
418              Tehama                     0.794          0.000
449              PointArena                 1.350          0.000
737              Etna                       0.759          0.002
769              Loyalton                   0.355          0.000
804              Isleton                    0.492          0.134
839              FortJones                  0.602          0.000
939              Dorris                     0.718          0.041
1005             Plymouth                   0.944          0.033
1010             Tulelake                   0.412          0.006
1048             Bradbury                   1.958          0.003
1154             Maricopa                   1.502          0.000
1253             BlueLake                   0.622          0.077
1371             Ferndale                   1.027          0.000
1422             Irwindale                  9.613          2.038
1443             Montague                   1.793          0.039
1624             DelReyOaks                 0.483          0.005
1650             Dunsmuir                   1.735          0.096
1707             Biggs                      0.636          0.000
1792             Colma                      1.909          0.000
1856             HiddenHills                1.689          0.000
1860             RollingHills               2.991          0.000
1862             SanJuanBautista            0.711          0.001
1963             Colfax                     1.407          0.000
2068             Belvedere                  2.406          4.889
...                                           ...            ...
163665           Salinas                   23.217          0.099
163924           Ontario                   50.006          0.170
170685           SantaRosa                 41.499          0.531
170746           RanchoCucamonga           39.871          0.051
170883           GardenGrove               17.959          0.046
183095           Oceanside                 42.174          2.433
193365           MorenoValley              51.475          0.519
196021           Glendale                  30.583          0.338
197575           HuntingtonBeach           31.882         13.298
201165           Modesto                   37.092          0.583
201812           Fontana                   42.432          6.000
203585           Oxnard                    39.208         31.893
209130           SantaClarita              62.160          0.168
209924           SanBernardino             59.645          1.150
215529           Irvine                    66.454          0.901
220000           Fremont                   87.610         26.292
243916           ChulaVista                52.094          6.380
301090           Stockton                  64.753          7.985
313673           Riverside                 81.444          0.788
324528           SantaAna                  27.518          0.643
336000           Anaheim                   50.811          2.527
347483           Bakersfield              143.609          3.742
406253           Oakland                   78.002         57.540
462257           LongBeach                 51.437          2.964
466488           Sacramento               100.105          5.673
509039           Fresno                   112.308          0.910
837442           SanFrancisco             231.890            NaN
1000536          SanJose                  179.970          8.908
1345895          SanDiego                 372.400        122.270
3884307          LosAngeles               503.000         88.000

                                                                      \
                                 area_water_percent area_water_sq_mi
population_total city
1                Pomona                       0.050            0.012
112              Vernon                       3.570            0.184
185              AmadorCity                   0.000            0.000
219              Industry                     2.310            0.279
334              SandCity                    80.770            2.362
367              Trinidad                    27.750            0.186
418              Tehama                       0.000            0.000
449              PointArena                   0.000            0.000
737              Etna                         0.120            0.001
769              Loyalton                     0.000            0.000
804              Isleton                     10.500            0.052
839              FortJones                    0.000            0.000
939              Dorris                       2.190            0.016
1005             Plymouth                     1.340            0.013
1010             Tulelake                     0.580            0.002
1048             Bradbury                     0.060            0.001
1154             Maricopa                     0.000            0.000
1253             BlueLake                     4.800            0.030
1371             Ferndale                     0.000            0.000
1422             Irwindale                    8.190            0.787
1443             Montague                     0.850            0.015
1624             DelReyOaks                   0.420            0.002
1650             Dunsmuir                     2.140            0.037
1707             Biggs                        0.000            0.000
1792             Colma                        0.000            0.000
1856             HiddenHills                  0.000            0.000
1860             RollingHills                 0.000            0.000
1862             SanJuanBautista              0.060            0.000
1963             Colfax                       0.000            0.000
2068             Belvedere                   78.420            1.887
...                                             ...              ...
163665           Salinas                      0.160            0.038
163924           Ontario                      0.130            0.065
170685           SantaRosa                    0.490            0.205
170746           RanchoCucamonga              0.050            0.020
170883           GardenGrove                  0.100            0.018
183095           Oceanside                    2.230            0.939
193365           MorenoValley                 0.390            0.200
196021           Glendale                     0.430            0.130
197575           HuntingtonBeach             16.100            5.134
201165           Modesto                      0.610            0.225
201812           Fontana                      3.000            3.000
203585           Oxnard                      31.410           12.314
209130           SantaClarita                 0.099            0.060
209924           SanBernardino                0.740            0.444
215529           Irvine                       0.520            0.348
220000           Fremont                     11.590           10.151
243916           ChulaVista                   4.730            2.463
301090           Stockton                     4.760            3.083
313673           Riverside                    0.370            0.304
324528           SantaAna                     0.900            0.248
336000           Anaheim                      1.920            0.976
347483           Bakersfield                  1.010            1.445
406253           Oakland                     28.480           22.216
462257           LongBeach                    2.220            1.144
466488           Sacramento                   2.190            2.190
509039           Fresno                       0.310            0.351
837442           SanFrancisco                80.000          185.020
1000536          SanJose                      1.910            3.439
1345895          SanDiego                    12.680           47.210
3884307          LosAngeles                   6.700           34.000

                                                                      \
                                 elevation_ft elevation_m       latd
population_total city
1                Pomona                 850.0       259.0  34.060833
112              Vernon                 203.0        62.0  34.001111
185              AmadorCity             919.0       280.0  38.419444
219              Industry               322.0        98.0  34.016667
334              SandCity                72.0        22.0  36.617222
367              Trinidad               174.0        53.0  41.059167
418              Tehama                 210.0        64.0  40.024444
449              PointArena             118.0        36.0  38.908889
737              Etna                  2936.0       895.0  41.457222
769              Loyalton              4951.0      1509.0  39.676667
804              Isleton                 10.0         3.0  38.161944
839              FortJones             2762.0       842.0  41.607222
939              Dorris                4245.0      1294.0  41.965000
1005             Plymouth              1083.0       330.0  38.481944
1010             Tulelake              4035.0      1230.0  41.954167
1048             Bradbury               676.0       206.0  34.149444
1154             Maricopa               883.0       269.0  35.058889
1253             BlueLake               131.0        40.0  40.882778
1371             Ferndale                56.0        17.0  40.576667
1422             Irwindale              469.0       143.0  34.116667
1443             Montague              2539.0       774.0  41.727222
1624             DelReyOaks              82.0        25.0  36.593333
1650             Dunsmuir              2280.0       695.0  41.221667
1707             Biggs                   98.0        30.0  39.413889
1792             Colma                  121.0        37.0  37.678889
1856             HiddenHills           1076.0       328.0  34.167500
1860             RollingHills          1276.0       389.0  33.759444
1862             SanJuanBautista        217.0        66.0  36.844167
1963             Colfax                2425.0       739.0  39.097222
2068             Belvedere               36.0        11.0  37.872778
...                                       ...         ...        ...
163665           Salinas                 52.0        16.0  36.677778
163924           Ontario                925.0       282.0  34.052778
170685           SantaRosa              164.0        50.0  38.448611
170746           RanchoCucamonga       1207.0       368.0  34.123333
170883           GardenGrove             89.0        27.0  33.778889
183095           Oceanside               66.0        20.0  33.211667
193365           MorenoValley          1631.0       497.0  33.943056
196021           Glendale               522.0       159.0  34.170833
197575           HuntingtonBeach         39.0        12.0  33.692778
201165           Modesto                 89.0        27.0  37.661389
201812           Fontana               1237.0       377.0  34.100000
203585           Oxnard                  52.0        16.0  34.191389
209130           SantaClarita          1207.0       368.0  34.416667
209924           SanBernardino         1974.0       321.0  34.100000
215529           Irvine                  45.0        17.0  33.684167
220000           Fremont                218.0        71.0  37.548333
243916           ChulaVista              69.0        21.0  32.627778
301090           Stockton                13.0         4.0  37.975556
313673           Riverside              860.0       262.0  33.948056
324528           SantaAna               115.0        35.0  33.740833
336000           Anaheim                157.0        48.0  33.836111
347483           Bakersfield            404.0         NaN  35.366667
406253           Oakland                 43.0         NaN  37.804444
462257           LongBeach                0.0         NaN  33.768333
466488           Sacramento              30.0         9.0  38.555556
509039           Fresno                 308.0         NaN  36.750000
837442           SanFrancisco            52.0         NaN  37.783333
1000536          SanJose                  NaN        26.0  37.333333
1345895          SanDiego                 3.0         6.0  32.715000
3884307          LosAngeles               2.0        71.0  34.050000

                                     ...                 sum                 \
                                     ...     area_land_sq_mi area_total_km2
population_total city                ...
1                Pomona              ...              22.952         59.474
112              Vernon              ...               4.973         13.357
185              AmadorCity          ...               0.314          0.813
219              Industry            ...              11.785         31.245
334              SandCity            ...               0.562          7.575
367              Trinidad            ...               0.485          1.737
418              Tehama              ...               0.794          2.057
449              PointArena          ...               1.350          3.496
737              Etna                ...               0.758          1.965
769              Loyalton            ...               0.355          0.921
804              Isleton             ...               0.440          1.272
839              FortJones           ...               0.602          1.560
939              Dorris              ...               0.702          1.860
1005             Plymouth            ...               0.931          2.444
1010             Tulelake            ...               0.410          1.067
1048             Bradbury            ...               1.957          5.073
1154             Maricopa            ...               1.502          3.890
1253             BlueLake            ...               0.592          1.610
1371             Ferndale            ...               1.027          2.659
1422             Irwindale           ...               8.826         24.897
1443             Montague            ...               1.778          4.644
1624             DelReyOaks          ...               0.481          1.251
1650             Dunsmuir            ...               1.698          4.494
1707             Biggs               ...               0.636          1.646
1792             Colma               ...               1.909          4.945
1856             HiddenHills         ...               1.689          4.373